*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
html {
    background-color: rgb(185, 209, 209);
      line-height: 1.15;
      -webkit-text-size-adjust: 100%;
}
body{
    width : 1000px;
    height: 1500px;
    margin: auto;
    background-color: aliceblue;
}
.logo img {
  width: 100%;
  max-width: 14.5rem;
}
main{
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
a {
  background-color: transparent;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; 
  font-size: 100%; 
  line-height: 1.15; 
  margin: 0;
}
.header__container {
    width: 1000px;
    overflow: hidden;
    background-color: rgb(255, 252, 251);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  
}
.header {
    position: fixed;
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  
  }
  .header__links {
    margin-right: 5rem;
  }
  
  .header__links li {
    list-style: none;
    display: inline-block;
  }
  
  .header__links a {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    text-decoration: none;
    color: var(--white);
    margin-right: 1rem;
  }
  
  .header__links a:hover {
  
    color: var(--primary);
  
  }
  
  .header__links a:active{
    color: var(--primary);
  }
  h1{
      font-size: 35px;
      padding-left: 30px;
  }
  
  article{
    width: 950px;
    font-size: 25px;
    padding: top 30px;
    padding-left: 30px;
  }
  
.medium,
.large {
  display: none;
}

  .categories {
    padding: 3rem 1rem;
  }
  
  .category-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem !important;
  }
  
  .sub-category {
    display: inline-block;
    margin-left: 1rem;
  }
  
  .items {
    display: flex;
    justify-content: space-around;
  }
  
  .item-card {
    padding: 1rem;
    flex: 1 1 auto;
    margin: 0 0.8rem;
    max-width: 26.5rem;
    background-color: #fff;
  }
  
  .item-img-wrapper {
    position: relative;
    margin: 0.1rem auto;
  }
  
  .item-img, .ad-img {
    width: 90%;
    height: auto;
    object-fit: cover;
  }
  
  .item-name {
    margin-top: 1.5rem;
  }
  
  .item-stock, .real-price, .promo-price {
    margin-top: 0.4rem;
  }
  
  .item-location {
    margin-top: 1rem;
  }
  
  .item-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
  }
  
  .item-add-btn {
    padding: 0.1rem 1rem;
  }
  
  .real-price {
    padding-right: 0.5rem;
    margin: 0;
  }
  
  /* The sidebar menu */
.sidenav {
  height:100%; /* Full-height: remove this if you want "auto" height */
  width: 280px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(253, 253, 253); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  text-align: center;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
 
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
  
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  
}
table{
top: 250px;  
left: 350px;
position: absolute;
border: 1px solid black;
}
td{
  border: 1px solid black;
}
.h2o{
  top:150px;
  position: absolute;
  left:  350px;
}
